<section class="card">
  <div class="component-marker">order-manager</div>
  <div class="card-content">
    <div class="card-title">Order Management Application</div>

    <div style="margin: 20px 0">
      <button class="btn" (click)="choose(0)">Choose First Order</button>
      <button class="btn" (click)="choose(1)">Choose Second Order</button>
    </div>

    <div class="two-across">

      <order-list [orders]="orderList"></order-list>

      <order-details [details]="selectedOrder"></order-details>

    </div>
  </div>
</section>
