<div class="card">
  <div class="card-content">
    <div class="card-title">Financial Report</div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Units Sold (millions)</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let record of records; even as shouldStripe"
          [class.stripe]="shouldStripe"
        >
         <td>{{record.empName}}</td>
         <td>
           <div class="bar"
             [ngClass]="status(record.rank)"
             [style.width.%]="record.units * unitsScale">
            </div>
         </td>
         <td>
           <div class="bar"
             [ngClass]="status(record.rank)"
             [style.width.%]="record.totalRevenue * revenueScale">
            </div>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
