<section class="card">
  <div class="card-content">
    <div class="card-title">Big Form</div>

    <form [formGroup]="bigFormGroup" (ngSubmit)="saveChanges()">

      Important info:
      <input type="text" formControlName="importantInfo">

      <button class="btn btn-default"
        (click)="saveChanges()"
        [disabled]="!bigFormGroup.dirty"
        [class.disabled]="!bigFormGroup.dirty"
      >
        Save Changes
      </button>

      <button class="btn btn-default"
        (click)="discardChanges()"
        [disabled]="!bigFormGroup.dirty"
        [class.disabled]="!bigFormGroup.dirty"
      >
        Discard Changes
      </button>

    </form>

  </div>
</section>
